/*
* 
* Stylings, where excluding the TV-Div largely from Bootstrap:
*   1. Core Page - Body, paragraph, links.
*   2. Main Page - Wrapper, Container-Div, Nav/Sidebar.
*   3. TV-Div Stylings.
*   4. Table Stylings - Results Block of TV-Div.
*   5. Loader for getting database.
*   6. Media Queries.
* 
*/

/*
* 
* 1. Core Page Stylings
* 
*/

/* Import google fonts */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


/* Style body */
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}


/* 
* 
* Paragraphs & links
* 
*/
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a{
    text-decoration:none;
}
a, a:link, a:visited, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


/* 
* 
* 2. Main Page Stylings
* 
*/

/* Page container div */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

/* Conent div */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}


/*
* 
* Styling sidebar
* 
*/

/* Sidebar */
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    border-right: 1px solid black;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}


/* Style dropdowns */
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* Make long queries scrollable 
#sidebar {
    overflow: hidden;
    overflow-y: scroll;
}
*/

/* Make buttons stand out */
#runAllQueries, #toggleSidebar, #prevQ, #runQuery, #resetBtn, #nextQ{
    border: 1.5px solid black;
}

/*
* 
* 4. TV Div:
*   - Needs to better utilise the Grid System :(
* 
*/

/* TV Class Styling */
.tv{
    position: relative;
    /* border: 3px solid black; */ 
    margin: auto;

    /*
    *
    * Figuring out these is the best way forward,
    * other subsequent measures can be derived from
    * here
    * 
    */
    height: 600px; 
    width: 1200px;
}



/* Left & Right Channels to swap between sections */
.tv-nav {
    position: absolute;
    width: 70px; /* Can use X% of active width */
    height: 570px; /* Should really be calculated */
    /* border: 2px solid rgb(194, 81, 96); */
    top: 15px;
    bottom: 15px;
    border-radius: 16px;
}

.tv-nav:hover {
    background-color: rgb(115,134,213);
}

.tv-chan {
    position: absolute;
    font-size: 5em;
    font-weight: bold;
    top: 35%;
    width: 100%;
    cursor: pointer;
    left: 9%;
    color: rgb(117, 114, 117);
}

/* Place channels left or right */
#tv-left {
    left: 10px;
}
#tv-right {
    right: 10px;
}


/* TV Content which holds the screen */
.tv-content {
    position: absolute;
    width: auto;
    height: 495px; /* Should really be calculated */
    /* border: 2px solid red; */
    left: 85px;
    right: 85px;
    top: 10px;
    bottom: 10px;
}

/* TV Screen that holds the Label, Query and Results boxes */
.tv-screen {
    position: absolute;
    width: auto;
    height: auto;
    /* border: 2px solid blue; */
    top: 5px;
    bottom: 0;
}

/* Space items on the scren a little better*/
.tv-item{
    margin-top: 10px;
    margin-bottom: 10px;
    /* border: 2px solid red; */
}

#blockTitle{
    height: 8%;
    font-size: 1.2em;
    border-radius: 16px;
    /* background-color: rgb(115,134,213); */
}

/* Query block and the text */
#queryBlock{
    height: 23%;
    border-radius: 16px;
    display: flex;
    align-items: center;
    background-color: rgb(117, 114, 117);
    padding-left: 1.5%;
    padding-right: 1.5%;
}
#queryText {
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    color: black;
}


#tempTab{
    font-weight: bold;
    font-style: italic;
    padding-left: 1.5%;
    padding-right: 1.5%;
    font-size: 1em;
}

/* TV Buttons */
.tv-btns {
    padding-top: 10px;
    position: absolute;
    bottom: 10px;
    /* border: 2px solid purple; */
    left: 90px;
    right: 90px;
    width: auto;
    height: 65px;
}
#prevQ {
    position: absolute;
    left: 2%;
}
#resetBtn {
    position: absolute;
    left: 30%;
}
#runQuery {
    position: absolute;
    right: 30%;
}
#nextQ {
    position: absolute;
    right: 2%;
}


/*
* 
* Table Stylings
* 
*/

/* Table div */
#resultsBlock {
    position: relative;
    overflow: auto;
    display: block;
    height: 60%;

    /* Clear the margin */
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Clear bottom margin to stop it from
   breaching into the button layer
*/
#resultsTable {
    margin-bottom: 0px;
    background-color: white;
}


/* Additional table stylings */
#colHead {
    position: sticky;
    top: 0;
}

.table {
    color: black;
}

/*
*
* 5. Loader Stylings
*   - To compensate for not wanting too much time with local
*     storage given other things discovered in making this website.
*
*   - Speed varies enourmously and had a few issues in importing & exporting
*     with the SQL.js tutorial
*
*   - Reference:
*     In short the border radius makes the div circular. The "top" border
*     is a different "blue" color that covers thickness of circle. An 
*     animation is applied where the blue border "spins" "infinitely" around
*     itself, becuase the border top gives an illusion of another object.
*     
*     https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader
*
*/

/* Surrounded div to add text to flag to user */
.loaderHolder{
    position: absolute;
    top: 30%;
    left: 40%;
    width: 330px;
    height: 180px;
}
#loaderText{
    margin-top: 10px;
    color: black;
    font-weight: bold;
    font-style: italic;
    font-size: 1.2em;
}

/* Style database for different web browsers */
.loader {
    position: relative;
    left: 30px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
  
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*
* 
* 6. Media Queries
* 
* Biggest thing is the position of the loader animation
* 
* Second is the clunky sidebar:
*   - A lower z-index for TV-DV, and higher for sidear when active.
*   - Means that this will be set by the toggle class (index.html-JS).
*   - Is it an inherited property though? TV will cause headaches
*
* Third is text:
*   - However em values were used for text and it's based off the body.
*   - Meaning, I can only guess what it will look like based on resizing my page...
*   - A lot of effort to learn about checking, or doing own hosting.
* 
*/

/* Stylings for small devices */
@media (max-width: 768px) {

    /* Sider bar from bootstrap */
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }

    /* Reposition the loaderHolder */
    .loaderHolder {
        position: absolute;
        left: 25%;
    }

    /* Text on tv-screen: block, query and results divs */
    #blockTitle h3 {
        font-size: 1.0em;
    }
    #colHead{
        font-size: 0.75em;
    }
    #queryText, #resultsBody th, #resultsBody td, #tempTab {
        font-size: 0.65em;
    }

    /* Lower spacing between buttons */
    #runQuery {
        right: 21.4%;
    }
    #resetBtn {
        left: 29%;
    }
}

/* Style for medium devices */
@media (min-width: 769px) and (max-width: 1000px) {

    /* Loader position */
    .loaderHolder{
        left: 33%;
    }

    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }

    /* Lower spacing between buttons */
    #runQuery {
        right: 26%;
    }
    #resetBtn {
        left: 30%;
    }
}